* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app,
#root,
.container {
  width: 100%;
  min-height: 100vh;
}


.app {
  background: rgb(84, 99, 88);
  background: linear-gradient(41deg, rgba(84, 99, 88, 1) 0%, rgba(56, 56, 144, 1) 25%, rgba(1, 64, 124, 1) 50%, rgba(59, 59, 119, 1) 75%, rgba(101, 64, 103, 1) 100%);
}




body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}